# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/
.venv

# Django
*.log
local_settings.py
db.sqlite3
/staticfiles/
/media/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Node
node_modules/
npm-debug.log
yarn-error.log
.npm

# Build
/frontend/build
/frontend/.cache
